@model IEnumerable<DDMusic.Areas.Admin.Models.CommentModel>
<style>
    .lm{
        display:none;
        padding-bottom:20px;
    }
</style>
@foreach (var comment in Model)
{
    <div class="cmt">
    <div class="row padding-comment">
        <div class="col-md-1">
            <img class="img-comment" src="~/img/user-img/@comment.User.URLImg" alt="" />
        </div>
        <div class="col-md-6 comment">
            <h6 class="user-name">@comment.User.UserName</h6>
            <h6 class="user-comment">@comment.Content</h6>
        </div>
    </div>
    </div>
}
<a class="lm" href="#" id="loadMore">Xem thêm</a>
<script>
   
    if ($(".cmt:hidden").length > 3) {
        $("#loadMore").show();
    }
    $(".cmt").slice(0, 3).show();
    $("#loadMore").on('click', function (e) {
        e.preventDefault();
        $(".cmt:hidden").slice(0, 6).slideDown();
        if ($(".cmt:hidden").length == 0) {
            $("#loadMore").fadeOut('slow');
        }
    });
</script>