@model IEnumerable<DDMusic.Areas.Admin.Models.AlbumModel>
    <style>
        .s {
            min-height: 500px;
        }

        .e {
            padding-top: 100px;
            padding-left: 50px;
        }
    </style>
    <h2 class="e">TÌM KIẾM</h2>
<br />
    <div class="container s">
        <div class="row">
            <div class="col-12">
                @*<div class="section-heading style-2">*@

                <h5>ALBUM</h5>
                <br /><br />
                @*</div>*@
            </div>
        </div>
        <div class="row">
            <!-- Single Album -->
            @foreach (var album in Model)
            {
                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                        <div class="album-thumb">
                            <img src="~/img/album/@album.Image" alt="">
                        </div>
                        <div class="album-info">
                            @*<a href="~/bai-hat/@album.Id">*@
                            <h5>@album.Name</h5>
                            @*</a>*@
                            <p>@album.Singer.Name</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        </div>