<div class="section-heading style-2 section-padding-100">
    <h2>Thông tin liên hệ</h2>
    <h4 style="padding-top:60px;">La Kỳ Đạt - 0306181306 - CĐTH18PMA</h4>
    <h4 style="padding-top:60px;">Trần Thanh Duy - 0306181306 - CĐTH18PMA</h4>
</div>