@model DDMusic.Areas.Admin.Models.EditUserModel
<style>
    .image-upload > input {
        display: none;
    }

    .avatarU {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

  option,label {
        color: gray
    }

</style>
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url(../img/bg-img/bg-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                    <h2>Thông tin cá nhân</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                    <form action="PersonalPage" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12">
                                <center>
                                    <div class="image-upload">
                                        <label for="ful">
                                            @if (Model.URLImg != null)
                                            {
                                                <img id="Img" class="avatarU" src="~/img/user-img/@Model.URLImg" alt="" />
                                            }
                                            else
                                            {
                                                <img id="Img" class="avatarU" src="~/img/bg-img/noimage.jpg" alt="" />
                                            }
                                        </label>
                                        <input type="file" accept=".jpeg,.gif,.png,.tiff,.bmp,.jpg" class="custom-file-input" id="ful" name="ful">
                                        <input asp-for="URLImg" hidden />
                                        <input asp-for="Id" hidden />
                                    </div>
                                </center>

                            </div>




                            @*<div class="image-upload">
                    <label for="file-input">
                        <img id="Image" src="~/img/song/ChiLaKhongCungNhau.jpg" />
                    </label>

                    <input id="file-input" name="ful" type="file" />
                </div>*@

                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                    <label>Tên</label>
                                    <input asp-for="Name" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <label>Tên đăng nhập</label>
                                    <input asp-for="UserName" class="form-control" id="email">
                                    <input asp-for="Email" hidden />
                                    @if (ViewBag.eUserName != null)
                                    {
                                        <div>
                                            <span class="badge badge-primary" style="font-size:16px">@ViewBag.eUserName</span>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <label>Số điện thoại</label>
                                    <input asp-for="PhoneNumber" class="form-control" id="phone">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <label>Địa chỉ</label>
                                    <input asp-for="Address" class="form-control" id="address">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <label>Sinh nhật</label>
                                    <input type="date" asp-for="Birthday" class="form-control" min="1900-01-01" max="2080-01-01">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <label>Giới tính</label>
                                    <select asp-for="Gender" class="form-control">
                                        <option>Nam</option>
                                        <option>Nữ</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                <button class="btn oneMusic-btn mt-30" type="submit">Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(window).load(function () {
        var message = '@ViewBag.Message';
        if (message.length > 0) {
            $("#myModal").modal('show');
        }
    });
    function readURL(input, img) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("Img").src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#ful").change(function () {
        readURL(this, '#img');
    })
    </script>
}