@model IEnumerable<DDMusic.Areas.Admin.Models.Playlist>
<div class="container section-padding-100-0 height">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="add-playlist" onclick="AddPlayList()">+ Thêm playlist mới</div>
            </div>
            @foreach(var item in Model)
            { 
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="image-playlist">
                        <div class="selection">
                            <i title="Xóa" onclick="DeletePlayList(@item.Id)" class="fa fa-times-circle" aria-hidden="true"></i>
                            <i title="Play" onclick="location.href ='playlistUser/@item.Id'" class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        @if (item.Image != null)
                        {
                            <img src="~/img/song/@item.Image" alt="">
                        }
                        else
                        {
                        <img src="~/img/logoMusic.jpg" alt="">
                        }
                    </div>
                <div class="playlist-info">
                            <a href="infoPlayList/@item.Id">
                                <h5>@item.Name</h5>
                            </a>
                    </div>
                    </div>
            }
        </div>
    </div>
<div class="modal fade" id="modalAdd">
    <div class="modal-dialog dialog">
        <div class="modal-body">
        <div class="modal-content content">
            <div class="title-add">Tạo playlist mới</div>
            <form asp-controller="Home" asp-action="CreatePlayListUser">
            <div class="name-add">
                <input class="txt-addname" id="txtName" name="txtName" type="text" placeholder="Nhập tên playlist"/></div>
            <div class="add"><button type="submit" class="btn-add">Tạo mới</button></div>
                </form>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="modalDelete">
<div class="modal-dialog dialog">
    <div class="modal-body">
        <div class="modal-content content-delete">
            <div class="title-delete">
                Xóa Playlist
            </div>
            <div class="sub-title-delete">
                Bạn có muốn xóa playlist này không?
            </div>
            <div class="selection-delete">
                <form asp-controller="Home" asp-action="RemovePlayListuser">
                    <button class="btn-selection-delete btn-no" data-dismiss="modal">Không</button>
                    <input id="idPlayList" name="idPlayList" hidden />
                    <button type="submit" class="btn-selection-delete btn-yes">Có</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<style>
    .height{
        min-height:550px;
    }
    .add-playlist {
        background-image: linear-gradient(130deg,#2e3192,#18ffff);
        width: 100%;
        height: 85%;
        text-align: center;
        padding: 70% 0;
        font-size:16px;
        border-radius:5px;
    }
   .modal .content-delete {
        padding: 10px;
        color: white;
        background-color: #141b70;
    }
   .modal .title-delete {
        font-size: 20px;
    }
   .modal .sub-title-delete {
        font-size: 16px;
    }
   .modal .selection-delete {
        text-align: right;
    }
   .modal .btn-selection-delete {
        border-radius: 25px;
        color: white;
        width: 65px;
        height: 25px;
        border-style: none;
        border-color: deepskyblue;
    }
   .modal .btn-yes {
        background-color: #1c1cbf;
    }
   .modal .btn-no {
        background-color: #5252dbc7;
    }
   .playlist-info {
        padding-top: 111%;
        padding-left: 7%;
    }
  .modal .dialog {
        top: 25%;
    }
  .modal .content {
        width: 300px;
        height: 150px;
        left: 20%;
        background-color: #141b70;
    }
   .modal .title-add {
        text-align: center;
        font-size: 20px;
        color:white;
    }
  .modal .add, .name-add {
        padding-top: 10px;
    }
   .modal .txt-addname, .btn-add {
        width: 266px;
        border-radius: 25px;
        height: 40px;
        padding-left: 16px;
        margin-left: 16px;
        border-style: none;
        border-color: #1c1cbf;
    }
   .modal .btn-add {
        color: honeydew;
        background-color: #3636ef;
    }
   .modal .txt-addname {
        background-color: gainsboro;
        outline-color: #719ECE;
    }
    .image-playlist .selection {
        display: none;
        color: #fff;
        position: absolute;
        top: 45%;
        left: 30%;
        font-size: 35px;
    }
    .image-playlist{
        position:absolute;
    }
    .image-playlist:hover .selection{
        display:block;
    }
    .image-playlist img{
        border-radius:5px;
    }
    h5 {
        color: #f4f6f8e0;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function AddPlayList() {
        $("#modalAdd").modal('show');
    }
    function DeletePlayList(id) {
        $('#idPlayList').val(id);
        $('#modalDelete').modal('show');
    }
     $(window).load(function () {
        var message = '@ViewBag.Message';
        if (message.length > 0) {
            $("#myModal").modal('show');
        }
    });
</script>
}