<style>
    .genre-song {
        display: none;
    }
</style>
@if (ViewBag.NewPlaylists.Count != 0)
{
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">

                        <h2>Các playlist mới</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                @foreach (var item in ViewBag.NewPlaylists)
                {
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                            <div class="album-thumb">
                                <a href="~/playlist/@item.Id"><img src="~/img/playlist/@item.Image" alt=""></a>

                            </div>
                            <div class="album-info">
                                <a href="~/playlist/@item.Id">
                                    <h5>@item.Name</h5>
                                </a>

                            </div>
                        </div>
                    </div>
                }


            </div>

            @*<div class="row">
                    <div class="col-12">
                        <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                            <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>*@
        </div>
    </section>
}
@if (ViewBag.Playlists.Count != 0)
{
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Tất cả những playlist</h2>
                    </div>
                </div>
            </div>

            <div class="row song-of-genre">
                @foreach (var item in ViewBag.Playlists)
                {
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 genre-song">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                            <div class="album-thumb">
                                <a href="~/playlist/@item.Id"> <img src="~/img/playlist/@item.Image" alt=""></a>
                            </div>
                            <div class="album-info">
                                <a href="~/playlist/@item.Id">
                                    <h5>@item.Name</h5>
                                </a>

                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                        <a href="#" class="btn oneMusic-btn " id="loadMore">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    window.onload = function () {
        $(".genre-song:hidden").slice(0, 8).slideDown();
        if ($(".genre-song:hidden").length != 0) {
            $("#loadMore").show();
        }
        else {
            $("#loadMore").fadeOut('slow');
        }
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $(".genre-song:hidden").slice(0, 8).slideDown();
            if ($(".genre-song:hidden").length == 0) {
                $("#loadMore").fadeOut('slow');
            }
        });
    };
</script>