<style>
  th img {
        width: 70px;
        height: 70px;
        -webkit-border-radius: 10%;
    }
</style>
<div class="container" style="padding-top:100px;">
    <h2>TÌM KIẾM</h2>
   
    a có 592,643 kết quả
    <br /><br />
    <h5>BÀI HÁT <i class="fa fa-angle-right" aria-hidden="true"></i></h5>
    <br />
    <table class="table">
        <tbody>
            <tr>
                <th width="100px" scope="row"><img src="~/img/song/1.jpg" /></th>
                <td>
                    <b style="font-size:18px;">Hoa no khong mau</b>
                    <br />
                    <p>Hoai Lam</p>
                </td>
                <td style="font-size:18px; color:gainsboro; padding-top:30px;"><i class="fa fa-user" aria-hidden="true">&nbsp;thanh duy</i></td>
                <td style="font-size:18px; color:gainsboro; padding-top:30px;"><i class="fa fa-headphones" aria-hidden="true">&nbsp;1000</i></td>
            </tr>
            <tr>
                <th width="100px" scope="row"><img src="~/img/song/1.jpg" /></th>
                <td>
                    <b style="font-size:18px;">Hoa no khong mau</b>
                    <br />
                    <p>Hoai Lam</p>
                </td>
                <td style="font-size:18px; color:gainsboro; padding-top:30px;"><i class="fa fa-user" aria-hidden="true">&nbsp;thanh duy</i></td>
                <td style="font-size:18px; color:gainsboro; padding-top:30px;"><i class="fa fa-headphones" aria-hidden="true">&nbsp;1000</i></td>
            </tr>
            <tr>
                <th width="100px" scope="row"><img src="~/img/song/1.jpg" /></th>
                <td>
                    <b style="font-size:18px;">Hoa no khong mau</b>
                    <br />
                    <p>Hoai Lam</p>
                </td>
                <td style="font-size:18px; color:gainsboro; padding-top:30px;"><i class="fa fa-user" aria-hidden="true">&nbsp;thanh duy</i></td>
                <td style="font-size:18px; color:gainsboro; padding-top:30px;"><i class="fa fa-headphones" aria-hidden="true">&nbsp;1000</i></td>
            </tr>
        </tbody>
    </table>
</div>

    <section class="latest-albums-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @*<div class="section-heading style-2">*@

                    <h5>PLAYLIST/ALBUM <i class="fa fa-angle-right" aria-hidden="true"></i></h5>
                    <br /><br />
                    @*</div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="albums-slideshow owl-carousel">
                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="~/img/song/1.jpg" />
                            <div class="album-info">
                                <a href="#">
                                    <h5>The Cure</h5>
                                </a>
                                <p>Second Song</p>
                            </div>
                        </div>

                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="~/img/song/1.jpg" />
                            <div class="album-info">
                                <a href="#">
                                    <h5>Sam Smith</h5>
                                </a>
                                <p>Underground</p>
                            </div>
                        </div>

                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="~/img/song/1.jpg" />
                            <div class="album-info">
                                <a href="#">
                                    <h5>Will I am</h5>
                                </a>
                                <p>First</p>
                            </div>
                        </div>

                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="~/img/song/1.jpg" />
                            <div class="album-info">
                                <a href="#">
                                    <h5>The Cure</h5>
                                </a>
                                <p>Second Song</p>
                            </div>
                        </div>

                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="~/img/song/1.jpg" />
                            <div class="album-info">
                                <a href="#">
                                    <h5>DJ SMITH</h5>
                                </a>
                                <p>The Album</p>
                            </div>
                        </div>

                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="~/img/song/1.jpg" />
                            <div class="album-info">
                                <a href="#">
                                    <h5>The Ustopable</h5>
                                </a>
                                <p>Unplugged</p>
                            </div>
                        </div>

                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="~/img/song/1.jpg" />
                            <div class="album-info">
                                <a href="#">
                                    <h5>Beyonce</h5>
                                </a>
                                <p>Songs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<br />
