<style>
    img {
        max-width: 400px;
        max-height: 400px;
    }
</style>
<section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>Ca sĩ @ViewBag.Title</h2>
                </div>
            </div>
            @*<div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Ca sĩ Nổi Bật</h2>
                    </div>
                </div>*@
        </div>

        <div class="row">
            @if (ViewBag.Singer != null)
                @foreach (var item in ViewBag.Singer)
                {
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                            <div class="album-thumb">
                                <img src="~/img/Singer/@item.Image" alt="">
                            </div>
                            <div class="album-info">
                                <a href="~/thong-tin-ca-si/@item.Id">
                                    <h5>@item.Name</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</section>

