
<br />
<section class="miscellaneous-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- ***** Popular Artists ***** -->

            <div class="col-12 col-lg-8">
                <div>
                    <img style=" width: 100px;   height: 100px;border-radius: 50%;-moz-border-radius: 50%;   -webkit-border-radius: 50%;
" src="~/img/song/ChiLaKhongCungNhau.jpg" alt="" /> <h4>Chỉ là không cùng nhau</h4><p>Tăng Phúc,Trương Thảo Nhi</p>
                </div>


                <br />
                <audio preload="auto" controls>
                    <source src="~/audio/ChiLaKhongCungNhau.mp3">
                </audio>
                <p style="padding-left:600px"><i class="fa fa-thumbs-up"></i> &ensp; <i class="fa fa-heart"></i> &ensp;  <i class="fa fa-share-alt"></i></p>
                <h3>Lời bài hát:Chỉ Là Không Cùng Nhau</h3>
                <div>
                    Chiều hôm ấy có mưa rơi nhẹ vương mi ai
                    Con đường ngỡ bước chung đôi bây giờ chia hai
                    Ai nói ra lời gian dối làm tan nát con tim ai.
                    Một người nỡ, một người vỡ bao mộng mơ

                    Rời xa nhau dẫu tim vẫn còn mang tên nhau
                    Chỉ là giấu, giấu che đi ta còn yêu nhau
                    Phía cuối cuộc đời ta hứa sẽ chờ dẫu qua bao lâu.
                    Tình vẫn đậm sâu!

                    Từng yêu nhau, từng là của nhau thật lâu
                    Đến sau cùng chẳng thể có nhau bạc đầu
                    Chẳng cần tương lai, chẳng biết có thương đau ngày mai
                    Chỉ cần nhau.

                    Giờ buông tay để được thấy nhau về sau
                    Trả người về những ngày tháng chưa bắt đầu
                    Ai rồi cũng sẽ tìm được ấm êm sau khổ đau
                    Chỉ là không cùng nhau.

                    Hẹn nhau nhé, kiếp sau ta lại nhận ra nhau.
                    Không lùi bước nắm tay nhau qua đời thương đau.
                    Nước mắt để dành ta khóc những ngày có nhau bên nhau.
                    Hẹn nhau nhé, hẹn nhau kiếp sau tìm nhau.
                </div>
            </div>

            <!-- ***** New Hits Songs ***** -->
            <div class="col-12 col-lg-4">
                <div class="new-hits-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        @*<p>See what’s new</p>*@

                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/song/HoaNoKhongMau.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>Hoa nở không màu</h6>
                                <p>Hoài Lâm</p>
                            </div>
                        </div>
                        @*<audio preload="auto" controls>
                                <source src="audio/dummy-audio.mp3">
                            </audio>*@
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/song/NiuDuyen.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>Níu Duyên</h6>
                                <p>Lê Bảo Bình</p>
                            </div>
                        </div>
                        @*<audio preload="auto" controls>
                                <source src="audio/dummy-audio.mp3">
                            </audio>*@
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="200ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/song/PhaChangEmDaYeu.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>Phải Chăng Em Đã Yêu</h6>
                                <p>Juky San</p>
                            </div>
                        </div>
                        @*<audio preload="auto" controls>
                                <source src="audio/dummy-audio.mp3">
                            </audio>*@
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/song/NangTho.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>Nàng thơ</h6>
                                <p>Hoàng Dũng</p>
                            </div>
                        </div>
                        @*<audio preload="auto" controls>
                                <source src="audio/dummy-audio.mp3">
                            </audio>*@
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/song/CauHenCauThe.jpg" alt="">
                            </div>
                            <div class="content-">
                                <h6>Câu hẹn câu thề</h6>
                                <p>Đình Dũng</p>
                            </div>
                        </div>
                        @*<audio preload="auto" controls>
                                <source src="audio/dummy-audio.mp3">
                            </audio>*@
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                @*<div class="section-heading white wow fadeInUp" data-wow-delay="100ms">*@
                @*<p>See what’s new</p>*@
                <h2>Bình luận</h2>
                @*</div>*@
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                    <input type="text" class="form-control" id="name" placeholder="Bình luận">

                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <button class="btn oneMusic-btn w-25" type="submit">Gửi</button>
                                </div>
                            </div>
                            @*<div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                </div>*@
                        </div>
                    </form>
                    <br />
                    <div class="col-md-6 col-lg-4">
                        <table>
                            <tr>
                                <td>
                                    <img style="        width: 60px;
        height: 60px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
" src="~/img/song/ChiLaKhongCungNhau.jpg" alt="" />
                                </td>
                                <td> <p> KD</p></td>
                                <td>&ensp;vsdgsd</td>
                            </tr>
                            <tr>
                                <td>
                                    <img style="        width: 60px;
        height: 60px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
" src="~/img/song/ChiLaKhongCungNhau.jpg" alt="" />
                                </td>
                                <td> <p> TD</p></td>
                                <td>&ensp;vsdgsd</td>
                            </tr>

                        </table>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
