@model DDMusic.Areas.Admin.Models.SongModel
<style>
    .image-upload > input {
        display: none;
    }
    .custom-file-upload {
        background: #f7f7f7;
        padding: 8px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
    .avatarSong {
        width: 250px;
        height: 250px;
        border-radius: 10%;
        -moz-border-radius: 10%;
        -webkit-border-radius: 10%;
    }
    .input-name {
        border-radius: .25rem;
        border: 1px solid #ced4da;
        width: 100%;
        height: 28px;
        padding-left: 8px;
    }
    label{
        color:gray;
    }
    .pt-img{
        padding-top:50px;
    }
    .pt-cont{
        padding-top:125px;
        padding-bottom:80px;
    }
    .btnSave{
        width:30%;
    }
    .div-btn{
        padding-top:15px;
    }
</style>
<div class="container pt-cont">
    <form asp-action="UploadSong" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <center>
                    <div class="image-upload pt-img">
                        <label for="ful">
                            <img id="Img" class="avatarSong" src="~/img/bg-img/noimage.jpg" alt="" />
                        </label>
                        <input type="file" class="custom-file-input" accept=".jpeg,.gif,.png,.tiff,.bmp,.jpg" id="ful" name="ful">
                    </div>
                </center>
            </div>
            @*<partial name="_StatusMessage" for="StatusMessage" />*@
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-area">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" data-wow-delay="100ms">
                                <label for="fulMusic" class="custom-file-upload" id="fulMusic-label">
                                    Chọn File Nhạc
                                </label>
                                <input name="fulMusic" type="file" id="fulMusic"
                                       accept=".mp3" style="display: none;" />
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group" data-wow-delay="100ms">
                                <label style="color:gray">Tên bài hát</label>
                                <input asp-for="Name" class="input-name" id="name" value="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group" data-wow-delay="200ms">
                                <label>Ca sĩ</label>
                                <select class="form-control select2" asp-for="IdSinger" asp-items="ViewBag.IdSinger" id="Singer">
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group" data-wow-delay="200ms">
                                <label>Thể loại</label>
                                <select class="form-control select2" asp-for="Genre" asp-items="ViewBag.ListGenre" id="Genre">
                                </select>

                            </div>
                        </div>
                        <div class="col-12 text-center div-btn" data-wow-delay="500ms">
                            <button class="btn btn-outline-dark btnSave" type="submit">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(window).load(function () {
            var message = '@ViewBag.Message';
            if (message.length>0) {
                $('#myModal').modal('show');
            }
        });
        function readURL(input, img) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("Img").src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ful").change(function () {
            readURL(this, '#img');
        })

        $(document).ready(function () {
            $('#fulMusic').change(function () {
                var i = $(this).prev('label').clone();
                var file = $('#fulMusic')[0].files[0].name;
                $(this).prev('label').text(file);
            });
        });
        $('.select2').select2()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    </script>
}