<style>
    .title-contact-mail {
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
    }

    .input-contact-mail {
        border: black;
        width: 180px;
        height: 27px;
    }

    .btn-contact-mail {
        border: none;
        background-color: white;
        width: 25px;
        height: 25px;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 12%
    }
</style>
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a asp-action="Index" asp-controller="Home"><div class="section-heading style-2" style="margin-top:auto;margin-bottom:auto;text-align:left;"><h2 style="color:#FFFFFF">DDMusic</h2></div></a>
                <p class="copywrite-text">

                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> La Kỳ Đạt - Trần Thanh Duy <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://caothang.edu.vn" target="_blank">Cao Thắng</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
            @*<div class="col-12 col-md-6">
                <h5 class="title-contact-mail">
                    Đăng kí nhận thông tin
                </h5>
                <input class="input-contact-mail" placeholder=" Mail liên hệ" />
                <button class="btn-contact-mail">Gửi</button>
            </div>*@

            @*<div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>*@
        </div>
    </div>
</footer>

<script src="~/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="~/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="~/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="~/js/active.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Admin/plugins/select2/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
<script src="~/js/main.js"></script>