<style>
    .header-area {
        top: 0px !important;
    }

    .input-search {
        border: black;
        background-color: white;
        width: 180px;
        height: 27px;
    }

    .btn-search {
        border: none;
        background-color: black;
        width: 25px;
        height: 25px;
        margin-right: -7px;
    }

    .fa-search {
        color: white;
    }

    .form-group {
        margin-top: 16px;
    }
</style>

<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a asp-action="Index" asp-controller="Home" class="nav-brand"><div class="section-heading style-2" style="margin-top:auto;margin-bottom:auto"><h2 style="color:#FFFFFF">DDMusic</h2></div></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                @*<li><a asp-action="Album" asp-controller="Home">Albums</a></li>*@
                                <li>
                                    <a href="#">Thể Loại</a>
                                    <ul class="dropdown">
                                        <li><a asp-action="Genre" asp-controller="Home">EDM</a></li>
                                        <li><a>Acoustic</a></li>
                                        <li><a>Indie</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Ca sĩ</a>
                                    <ul class="dropdown">
                                        <li><a asp-action="Singer" asp-controller="Home">Việt Nam</a></li>
                                        <li><a>Âu Mỹ</a></li>
                                        <li><a>Hàn Quốc</a></li>
                                    </ul>
                                </li>
                                <li><a asp-action="TopSong" asp-controller="Home">Bảng Xếp Hạng</a></li>
                                @*<li><a asp-action="Playlist" asp-controller="Home">Playlist</a></li>*@
                                <li><a asp-action="Login" asp-controller="Home" id="loginBtn">Đăng Nhập</a></li>
                                <li><a asp-action="Register" asp-controller="Home" id="loginBtn">Đăng Ký</a></li>
                            </ul>



                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center" style="margin-right:-110px;">
                                <!-- Login/Register -->
                                <div class="login-register-btn mr-50">

                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                        <input class="input-search" type="text" placeholder=" Tìm Kiếm">
                                        <button class="btn-search"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>