<style>
    .header-area {
        top: 0px !important;
    }

    .form-group {
       /* margin-top: 5px;*/
    }

    .container-1 {
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }

        .container-1 input#search {
            width: 300px;
            height: 35px;
            background: #ffffff;
            border: none;
            font-size: 10pt;
            float: left;
            color: #63717f;
            padding-left: 45px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
        }

            .container-1 input#search::-webkit-input-placeholder {
                color: #65737e;
            }

            .container-1 input#search:-moz-placeholder { /* Firefox 18- */
                color: #65737e;
            }

            .container-1 input#search::-moz-placeholder { /* Firefox 19+ */
                color: #65737e;
            }

            .container-1 input#search:-ms-input-placeholder {
                color: #65737e;
            }

        .container-1 .icon {
            position: absolute;
            top: 50%;
            margin-left: 17px;
            margin-top: 9px;
            z-index: 1;
            color: #4f5b66;
        }

        .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active {
            outline: none;
            background: #ffffff;
        }

</style>

<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a asp-action="Index" asp-controller="Home" class="nav-brand"><div class="section-heading style-2" style="margin-top:auto;margin-bottom:auto"><h2 style="color:#FFFFFF">DDMusic</h2></div></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                @*<li><a asp-action="Album" asp-controller="Home">Albums</a></li>*@
                                <li>
                                    <a href="#">Thể Loại</a>
                                    <ul class="dropdown">
                                        <li><a href="~/the-loai/edm">EDM</a></li>
                                        <li><a href="~/the-loai/acoustic">Acoustic</a></li>
                                        <li><a href="~/the-loai/pop">Pop</a></li>
                                        <li><a href="~/the-loai/ballad">Ballad</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Ca sĩ</a>
                                    <ul class="dropdown">
                                        <li><a href="~/ca-si/viet-nam">Việt Nam</a></li>
                                        <li><a href="~/ca-si/au-my">Âu Mỹ</a></li>
                                        <li><a href="~/ca-si/han-quoc">Hàn Quốc</a></li>
                                    </ul>
                                </li>
                                <li><a asp-action="TopSong" asp-controller="Home">Bảng Xếp Hạng</a></li>
                                @*<li><a asp-action="Playlist" asp-controller="Home">Playlist</a></li>*@
                                @*<li><a asp-action="Login" asp-controller="Home" id="loginBtn">Đăng Nhập</a></li>
        <li><a asp-action="Register" asp-controller="Home" id="loginBtn">Đăng Ký</a></li>*@
                                @await Html.PartialAsync("_LoginPartial")
                            </ul>



                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center" style="margin-right:-110px;">
                                <!-- Login/Register -->
                                <div class="login-register-btn mr-50">

                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                        <form asp-controller="Home" asp-action="Search" method="get">
                                            @*<input class="input-search" type="text" id="txtKeyword" name="txtKeyword" placeholder=" Tìm Kiếm">
        <button class="btn-search"><i class="fa fa-search"></i></button>*@
                                    
                                            <div class="container-1">
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                                <input type="search" id="search" name="txtSearch" placeholder="Tìm kiếm ..." />
                                                <input type="button" hidden />
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>