<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a asp-action="Index" asp-controller="Home" class="nav-brand"><div class="section-heading style-2" style="margin-top:auto;margin-bottom:auto"><h2 style="color:#FFFFFF">DDMusic</h2></div></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="albums-store.html">Albums</a></li>
                                <li>
                                    <a href="#">Thể Loại</a>
                                    <ul class="dropdown">
                                        <li><a asp-action="Genre" asp-controller="Home">EDM</a></li>
                                        <li><a href="albums-store.html">Accoustic</a></li>
                                        <li><a href="event.html">Indie</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Ca sĩ</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Việt Nam</a></li>
                                        <li><a href="albums-store.html">Âu Mỹ</a></li>
                                        <li><a href="event.html">Hàn Quốc</a></li>
                                    </ul>
                                </li>
                                <li><a asp-action="TopSong" asp-controller="Home">Bảng Xếp Hạng</a></li>
                                <li><a href="blog.html">Playlist</a></li>
                                <li><a href="contact.html">Về Chúng tôi</a></li>
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->
                                <div class="login-register-btn mr-50">
                                    <a href="login.html" id="loginBtn">Đăng nhập</a>
                                </div>   
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>