@using Microsoft.AspNetCore.Identity
@using DDMusic.Areas.Admin.Models
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
<style>
    .b1 {
        border: none;
        background: none;
        cursor: pointer;
        margin: 0;
        padding: 10px;
        outline: none !important;
    }

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

</style>
@if (SignInManager.IsSignedIn(User))
{


    @*<li>
            <a id="manage"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
        </li>
        <li >
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" class="btn btn-dark" type="submit" >Đăng xuất</button>
            </form>
        </li>*@
    @*<a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">*@
<liv><a asp-action="UploadSong"><i class="fa fa-arrow-circle-up fa-2x" style="color:darkgrey; text-align:center" aria-hidden="true" title="Tải lên"></i></a></liv>
    <li>
        <a asp-controller="Home" asp-action="PersonalPage">
            @if (UserManager.GetUserAsync(User).Result.URLImg != null)
            {
                <img id="avatar" class="avatar" src="~/img/user-img/@UserManager.GetUserAsync(User).Result.URLImg" alt="" />
            }
            else
            {
                <img id="Img" class="avatar" src="~/img/bg-img/noimage.jpg" alt="" />
            }
            @UserManager.GetUserName(User)
        </a>
        <ul class="dropdown">
            <li>
                <a id="changepassword" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Đổi mật khẩu</a>
            </li>
            <li>
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button class="b1" type="submit"><b style="padding-left:12px; font-size:16px;">Đăng xuất</b></button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li>
        <a id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
    </li>
    <li>
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
    </li>
}

