<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #141b70">
            <div class="modal-body">
                <center><h6>@ViewBag.Message</h6></center>
            </div>
        </div>
    </div>
</div>