<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <center><p>@ViewBag.Message</p></center>
            </div>
        </div>
    </div>
</div>