@using Microsoft.AspNetCore.Identity
@using DDMusic.Areas.Admin.Models
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
 <!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">

            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="btn" type="submit"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </li>

    </ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="~/Admin/dist/img/logoDD.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin DDMusic</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img style="width:40px;height:40px;" src="~/img/user-img/@UserManager.GetUserAsync(User).Result.URLImg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">@UserManager.GetUserAsync(User).Result.UserName</a>
                </div>
            </div> 
            }
            <!-- SidebarSearch Form -->
            @*<div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>*@

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Dashboard" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Thống kê
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Users" asp-controller="Users" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Users
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-action="Users" asp-controller="Users" class="nav-link">
                                    <p>User</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Role" class="nav-link">
                                    <p>Role</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="UserRole" asp-controller="Role" class="nav-link">
                                    <p>Gán Role cho người dùng</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="ChangePassword" asp-controller="Users" class="nav-link">
                                    <p>Đổi mật khẩu</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Comment" class="nav-link">
                            <i class="nav-icon fas fa-comments"></i>
                            <p>
                                Bình luận
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="MenuSong">
                            <i class="nav-icon fas fa-music"></i>
                            <p>
                                Bài Hát
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Song" class="nav-link">
                                    <p>Bài hát</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="AcceptSong" asp-controller="Song" class="nav-link">
                                    <p>Duyệt bài hát</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Playlist" class="nav-link">
                                    <p>Playlist</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Album" class="nav-link">
                                    <p>Album</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-bar"></i>
                            <p>
                                Bảng xếp hạng
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="TopSongOnWeek" class="nav-link">
                                    <p>Bảng xếp hạng tuần</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="TopSongOnMonth" class="nav-link">
                                    <p>Bảng xếp hạng tháng</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Singer" class="nav-link">
                            <i class="nav-icon fas fa-microphone-alt"></i>
                            <p>
                                Ca sĩ
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
    <!-- /.sidebar -->
</aside>
<script>
    $("#MenuSong").click();
</script>