@model IEnumerable<DDMusic.Areas.Admin.Models.SingerOfSong>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#exampleModal">
                            Thêm <span class="av-icon fas fa-plus"></span>
                        </a>  <br /><br />


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm ca sĩ vào bài hát</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-area="Admin" asp-controller="Song" asp-action="AddSinger" enctype="multipart/form-data">
                                        <div class="modal-body">

                                            <label>Những ca sĩ thuộc bài hát</label>
                                            <br />
                                            <select class="form-control select2" multiple="multiple" name="idSingers" asp-items="ViewBag.Singers" id="Singer">
                                            </select>
                                            <input name="idSong" id="idSong" value="@ViewBag.IdSong" hidden />

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </form>
                                    <script src="~/Admin/plugins/select2/js/select2.full.min.js"></script>
                                    <script>
                                        $(function () {
                                            $('.select2').select2()

                                            //Initialize Select2 Elements
                                            $('.select2bs4').select2({
                                                theme: 'bootstrap4'
                                            })
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Ca sĩ</th>
                                    <th style="width:10%">Hình ảnh</th>
                                    <th>Thao tác</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Singer.Name</td>
                                        <td><img src="~/img/singer/@item.Singer.Image" /></td>
                                        <td><button style="border:none" class="btn btn-danger btn-xs" onclick="RemoveSinger(@item.Id)">Xóa <i class="fas fa-trash-alt"></i></button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
