<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Song</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Song</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <a asp-action="CreateSong" asp-controller="Song"><i class="nav-icon fas fa-plus"></i></a>
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Tên bài hát</th>
                                        <th>Ca sĩ</th>
                                        <th>Ngày phát hành</th>
                                        <th>Hình ảnh</th>
                                        <th>Thể Loại</th>
                                        <th>Album</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cớ sao vậy</td>
                                        <td>LX Band</td>
                                        <td>15/11/2021</td>
                                        <td><img src="~/img/song/CauHenCauThe.jpg" /></td>
                                        <td>Ballad</td>
                                        <td></td>
                                        <td><i class="nav-icon fas fa-edit"></i> <i class="fas fa-trash-alt"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Nép vào anh và nghe anh hát</td>
                                        <td>Hoàng Dũng</td>
                                        <td>12/12/2018</td>
                                        <td><img src="~/img/song/NangTho.jpg"/></td>
                                        <td>Pop</td>
                                        <td></td>
                                        <td><i class="nav-icon fas fa-edit"></i> <i class="fas fa-trash-alt"></i></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>