@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Đổi mật khẩu</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form id="change-password-form" method="post">
                            <partial name="_StatusMessage" for="StatusMessage" />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.OldPassword"></label>
                                <input asp-for="Input.OldPassword" class="form-control" />
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.NewPassword"></label>
                                <input asp-for="Input.NewPassword" class="form-control" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </form>
                    </div>
                </div>
                </div></div></div></section>

                @section Scripts {
                    <partial name="_ValidationScriptsPartial" />
                }
