@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<br />
<br />

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <div class="login-form">
                        <p>
                            Bạn không có quyền truy cập trang này.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
