@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<section class="login-area section-padding-200">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <div class="login-form">
                        <h1>@ViewData["Title"]</h1>
                        <partial name="_StatusMessage" model="Model.StatusMessage" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>