@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <div class="login-form">
                        Vui lòng kiểm tra email của bạn để đặt lại mật khẩu của bạn.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>