@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="login-area section-padding-200">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <div class="login-form">
                        <p>
                            Mật khẩu của bạn đã được thiết lập lại. Xin vui lòng <a asp-page="./Login">nhấn vào đây để đăng nhập</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
