@model List<DDMusic.Areas.Admin.Models.UserRoleViewModel>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>UserRole</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="UserRole">UserRole</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>UserName</th>
                                        <th>Role</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                        @foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>@item.NameUser</td>
                                                <td>
                                                    @foreach (var iRole in item.ListRole)
                                                    {
                                                        @iRole.NameRole 
                                                    
                                                    }
                                                </td>

                                                <td>
                                                    <a asp-controller="Role" asp-action="EditUserRole" asp-route-idUser="@item.IdUser"><i title="Cập nhật" class="nav-icon fas fa-edit"></i></a>
                                                </td>
                                            </tr>
                                        
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>